.category-results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 100%;
  height: 60%;
  padding-left: 0;
  overflow-y: scroll; */
}

@media only screen and (max-width: 576px) {
  .category-results-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
