@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body {
  /* Standards */
  background-color: #262b46;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  
}
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

a {
  color: #fff;
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
}


.detail_title {
  text-align: center;
  font-size: 2em;
}

.details {
  display: flex;
  justify-content: center;
  margin: 4vh auto 0 !important;
  max-width: 90vw;
  line-height: 1.5rem;
}

.detail_ingredient_item {
  display: block;
}

.right_article {
  max-width: 450px;
  padding-left: 20px;
}

@media only screen and (max-width: 800px) {
  .details {
    flex-wrap: wrap;
  }

  .right_article {
    max-width: 450px;
    padding-left: 0;
  }
}
